body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#company-logo {
    width: 500px;
    height: auto;
}

h1 {
    margin: 0;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 300px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
}

.movie-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
}

.movie-card .poster {
    margin-right: 20px;
}

.movie-card .poster img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.movie-card .details {
    flex: 1;
}

.movie-card h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.movie-card p {
    margin: 0;
    color: #666;
}

